<h1>Mostrando mensajes desde la plantilla</h1>

<form id="chatForm">
    <div>
        <div>
            alias <input type="text" name="aliasInput" id="aliasInput">
        </div>
        <div>
            Apellido <input type="text" name="apellidoInput" id="apellidoInput">
        </div>
        <div>
            Avatar <input type="text" name="avatarInput" id="avatarInput">
        </div>
        <div>
            Edad <input type="number" name="edadInput" id="edadInput">
        </div>
        <div>
            Mail <input type="email" name="mailInput" id="mailInput">
        </div>

        <div>
            Nombre <input type="text" name="nombreMjInput" id="nombreMjInput">
        </div>

        <div id="chatPool"></div>

        <div>
            Mensaje <input type="text" name="mensajeInput" id="mensajeInput">
        </div>
        <div>
            <input type="submit" value="Enviar">
        </div>
    </div>
</form>

